<header class="site-header">
  <div class="container">

    <a href="/" class="site-logo">
      <img src="//placehold.it/120x40" alt="" class="site-logo__img">
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__list-item">
          <a href="" class="site-nav__link"></a>
        </li>
        <li class="site-nav__list-item">
          <a href="" class="site-nav__link"></a>
        </li>
        <li class="site-nav__list-item">
          <a href="" class="site-nav__link"></a>
        </li>
      </ul>
    </nav>

  </div>
</header>
