// Font families

$serif: Times, 'Times New Roman', serif;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;



// Font sizes

$text-size: 14px;



// Colors

$dark: #222;
$superlight: rgba(0,0,0,.1);
$ultralight: rgba(0,0,0,.02);

$semiwhite: rgba(255,255,255,.5);

$action-color: blue;
$hover-color: tomato;

$light-gray: #ccc;
$light-grey: #ccc;



// Spacings

$base-spacing: 50px;
$big-spacing: 100px;
$side-spacing: 20px;
